<div class="card mt-2 bg-dark text-bg-dark">
    <div class="card-body">
        <h1>About</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime a tenetur laborum amet! Tenetur, optio qui quo
        molestias et dolore aperiam sapiente vitae nemo corrupti exercitationem voluptate quibusdam debitis quidem.
    </div>
</div>