<div class="card bg-dark text-bg-dark">
    <div class="card-header">
        <h1>Noteas App Welcome</h1>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, nemo? Pariatur perferendis repellendus
            animi dolorum aperiam, praesentium ipsa eveniet aliquam ducimus nemo! Aspernatur voluptates at nesciunt iure
            quibusdam rem ea.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, nemo? Pariatur perferendis repellendus
            animi dolorum aperiam, praesentium ipsa eveniet aliquam ducimus nemo! Aspernatur voluptates at nesciunt iure
            quibusdam rem ea.</p>
    </div>
</div>